* {
    margin: 0;
    padding: 0;
    font-family: 'poppinss', sans-serif;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('mainbg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

nav ul li a:hover {
    color: cyan;
}

.detail {
    margin-left: 8%;
    margin-top: 13%;
}

.detail h1 {
    font-size: 50px;
    color: #eff4fd;
    margin-bottom: 20px;
}

span {
    color: cyan;
}

.detail p {
    color: #eff4fd;
    line-height: 22px;
}

.detail a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 88%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s left;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .me {
    left: 45%;
}